@model STMGMTSYS.Models.PackageModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PackageModel</legend>

        @Html.HiddenFor(model => model.PackageID)

        <div class="editor-label">
            @Html.LabelFor(model => model.PackageName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PackageName)
            @Html.ValidationMessageFor(model => model.PackageName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Item.ItemCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QtyPerPack)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QtyPerPack)
            @Html.ValidationMessageFor(model => model.QtyPerPack)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
